*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  background-color: rgb(255, 255, 255);
}

.heading{
  color: blueviolet;
  font-size: 40px;
  text-align: center;
  padding: 30px 0px;
}

.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
  padding: 30px;
  text-align: center;
  background: rgb(65, 65, 65);
  margin:5px;
  border-radius: 10px;
}
.poster{
  height: 200px;
  width: 200px;
}
.seriesname{
  color:cornsilk;
  padding: 10px 0px;
  
}
.ott{
  color:cornsilk;
  padding: 5px 0px;
  margin-bottom: 10px;
}
.watchlink{
  text-decoration: none;
  padding: 7px 4px;
  background-color: crimson;
  color: rgb(255, 255, 255);
}